@using CoreWebApp.Models
@model IEnumerable<ProjListModel>
@{
    ViewData["Title"] = "VVG ONLINE //HOME XML CRUD DOTNET 8.0";
    ViewBag.Title = "VVG ONLINE // HOME XML CRUD DOTNET 8.0";
    //get total number of projects
    int count = 0;
    // ProjListModel project;
    //if projects exsits else count will remain 0 and need to add projects first
    if (Model != null)
    {
        foreach (ProjListModel Project in Model)
        {
            count++;
        }
    }
}

<article class="text-center">
    <h1 class="display-4">VVG ONLINE // HOME XML CRUD DOTNET 8.0</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</article>

@if (count > 0)
{
    <table class="table table-responsive table-bordered table-striped">
        <caption>Total Projects = @count</caption>
        <thead>
            <tr>
                <th>
                    proj id
                </th>
                <th>
                    proj name
                </th>
                <th>
                    location
                </th>
                <th>
                    edit
                </th>
                <th>
                    delete
                </th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            @foreach (var product in Model)
            {

                <tr>
                    <td>
                        @product.ProjId
                    </td>
                    <td>
                        @product.ProjName
                    </td>
                    <td>
                        @product.Location
                    </td>
                    <td>
                            @Html.ActionLink("✏️", "Edit", new { id = @product.ProjId })
                    </td>
                    <td>
                            @Html.ActionLink("❌", "Delete", new { id = @product.ProjId })
                    </td>
                </tr>
            }
            <tr class="">
                <td colspan="5" class="text-center">
                        @Html.ActionLink("Add NEW Project", "Create", "Home")
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <article>
        <h2>
            No projects for now. Add new projects first
        </h2>
        <p>
            @Html.ActionLink("Add NEW Project", "Create", "Home")
        </p>
    </article>
}


