@model UsingAspNet.Models.ProjectModels
@{
    ViewBag.Title = "Create";
}

<h2>Add new Projrct</h2>

@using (Html.BeginForm())
{
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                        Add &amp; Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(m => m.ProjName)</td>
                    <td>
                        <span>@Html.TextBoxFor(m => m.ProjName)</span>
                        <span>@Html.ValidationMessageFor(m => m.ProjName)</span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Location)</td>
                    <td>
                        <span>@Html.TextBoxFor(m => m.Location)</span>
                        <span>@Html.ValidationMessageFor(m => m.ProjName)</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="btnAdd" type="submit" value="@if (Model.IsEdit)
                                                                {<text>Update</text>}
                                                                else
                                                                {<text>Add</text>}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}