@using UsingAspNet.Models
@model IEnumerable<ProjectModels>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="text-center">
    <h4>
        @Html.ActionLink("Add New project", "AddEditProject")
    </h4>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    ProjectName
                </th>

                <th>
                    Location
                </th>

                <th>
                    Manage
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProjectModels project in Model)
            {
                <tr>
                    <td>
                        @project.ProjName
                    </td>

                    <td>
                        @project.Location
                    </td>

                    <td>
                        @*@Html.ActionLink("Edit", "AddEditProject", new { id = @item.Id }) /
                            @Html.ActionLink("Delete", "Delete", new { id = @item.Id })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>