@{
    ViewBag.Title = "Contact form Info";
}
@*@using MVCMySql.Models;
@model IEnumerable<ContactModel>
    <table class="table-responsive table-striped">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.MsgId)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.MsgUserName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.MsgUserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Msg)
            </td>
            <td>
                <a href="#">Edit</a>
            </td>
            <td>
                <a href="#">Delete</a>
            </td>
        </tr>
        }
    </table>*@
@using MVCMySql.Models
@model IEnumerable<TagModel>
    <table class="table-responsive table-striped">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.TagId)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.TagName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.TagFrequency)
            </td>
            <td>
                <a href="#">Edit</a>
            </td>
            <td>
                <a href="#">Delete</a>
            </td>
        </tr>
        }
    </table>