@model UsingAspNet.Models.ProjectModels
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                        Add New Project
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(m => m.ProjName)</td>
                    <td>
                        <span>@Html.TextBoxFor(m => m.ProjName, new { @class = "form-control" })</span>
                        <span>@Html.ValidationMessageFor(m => m.ProjName)</span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Location)</td>
                    <td>
                        <span>@Html.TextBoxFor(m => m.Location, new { @class = "form-control" })</span>
                        <span>@Html.ValidationMessageFor(m => m.ProjName)</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="btnAdd" class="btn btn-success" type="submit" value="Add New Project" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}